<div>
<h2 class="text-xl font-bold underline mb-2">
Articles
</h2>
<%=link_to "Add Article", new_article_path()%>
<%@articles.each do |item| %>

  <%= render "article",item:item%>
  <%= link_to "Show", item%>
<% end %>
</div>

